In [2]:
import pandas as pd

In [3]:
data = {"Müşteri Adı":["Ayşe","Mehmet","Nilgün","Zeynep"],
        "Yaptığı Toplam Alışveriş":[4321,1015,3452,2404],
        "Ödediği Toplam Miktar":[4300,1015,3240,2295]}
df1 = pd.DataFrame(data)
df1["Bakiye Borç"] = df1["Yaptığı Toplam Alışveriş"] - df1["Ödediği Toplam Miktar"]
df1.sort_values("Müşteri Adı", ascending = True, ignore_index=True , inplace = True)
df1.to_csv("alisveris.csv", index = False)

In [6]:
df = pd.read_csv("alisveris.csv")

musteri = input("Lütfen Müşterinin Adını Giriniz: ")
if musteri in df["Müşteri Adı"].values:
    df.set_index("Müşteri Adı", inplace = True)
    print(df.loc[musteri])
    print("Lütfen alışveriş yaptıktan sonra borcunuzu ödeyiniz borcunuz {} TL'dir. ".format(df.loc[musteri][2]))
    alisveris = int(input("Lütfen Müşterinin Yaptığı Alışveri Tutarını Giriniz: "))
    odeme = int(input("Lütfen Müşterinin Ödeme Yaptığı Tutarı Giriniz: "))
    df.loc[musteri][0] = df.loc[musteri][0] + alisveris
    df.loc[musteri][1] = df.loc[musteri][1] + odeme
    df.loc[musteri][2] = df.loc[musteri][0] - df.loc[musteri][1]
    df.to_csv("alisveris.csv", index = True)
    if df.loc[musteri][2] == 0:
        print("Borcunuz bulunmamaktadır. Bizi tercih etttiğini için teşekkür ederiz.")
    else:
        print("{} Tl borcunuz bulunmaktadır. Bizi tercih etttiğini için teşekkür ederiz. Bir sonraki alışverişinizde ödemenizi rica ederiz.".format(df.loc[musteri][2]))
    
else:
    df.loc[len(df)] = [musteri,0,0,0]
    df.sort_values("Müşteri Adı", ascending = True, ignore_index=True , inplace = True)
    df.set_index("Müşteri Adı", inplace = True)
    alisveris1 = int(input("Lütfen Müşterinin Yaptığı Alışveri Tutarını Giriniz: "))
    odeme1 = int(input("Lütfen Müşterinin Ödeme Yaptığı Tutarı Giriniz: "))    
    df.loc[musteri][0] = alisveris1
    df.loc[musteri][1] = odeme1
    df.loc[musteri][2] = alisveris1 - odeme1 
    df.to_csv("alisveris.csv", index = True)
    if alisveris1 - odeme1 == 0:
        print("Borcunuz bulunmamaktadır. Bizi tercih etttiğini için teşekkür ederiz.")
    else:
        print("{} Tl borcunuz bulunmaktadır. Bizi tercih etttiğini için teşekkür ederiz. Bir sonraki alışverişinizde ödemenizi rica ederiz.".format(alisveris1 - odeme1 ))

Lütfen Müşterinin Adını Giriniz: Mehmet
Yaptığı Toplam Alışveriş    1015
Ödediği Toplam Miktar       1015
Bakiye Borç                    0
Name: Mehmet, dtype: int64
Lütfen alışveriş yaptıktan sonra borcunuzu ödeyiniz borcunuz 0 TL'dir.
Lütfen Müşterinin Yaptığı Alışveri Tutarını Giriniz: 500
Lütfen Müşterinin Ödeme Yaptığı Tutarı Giriniz: 100
400 Tl borcunuz bulunmaktadır. Bizi tercih etttiğini için teşekkür ederiz. Bir sonraki alışverişinizde ödemenizi rica ederiz.

In [7]:
df = pd.read_csv("alisveris.csv")
df

     Müşteri Adı  Yaptığı Toplam Alışveriş  Ödediği Toplam Miktar  Bakiye Borç
0           Ayşe                      4321                   4300           21
1  Berkan Kefeli                      1300                   1280           20
2         Mehmet                      1515                   1115          400
3         Nilgün                      3452                   3240          212
4         Zeynep                      2404                   2295          109